/* TO-DO: add media query/responsiveness */

html {
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.75em;
  background-color: rgb(82, 34, 34);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  margin-left: 0rem;
  margin-right: 20.5em;
  color: antiquewhite;
  font-size: 2rem;
  font-family: Cinzel, serif;
}

body {
  background-image: url("/images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  font-family: Fauna One, serif;
}

h2 {
  font-size: 1.6rem;
  font-family: Cinzel, serif;
  margin: 0;
  width: 50%;
  text-align: center;
}

#description {
  font-size: 0.85rem;
}

#base-container {
  background-color: rgb(82, 34, 34);
  width: 50%;
  border-radius: 10px;
  margin-left: 4.375em;
  margin-top: 7em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#artwork {
  width: 50%;
  padding: 1em;
}

#artist {
  margin: 0;
  padding: 0.625em;
  font-size: 1.25rem;
}

#btn-container {
  display: flex;
  flex-direction: row;
}

button {
  background-color: antiquewhite;
  color: rgb(82, 34, 34);
  padding: 0.625em;
  margin: 0.5em;
  border-radius: 10px;
  font-family: Fauna One, serif;
}
